spring:
  application:
    name: config

  cloud:
    config:
      server:
        git:
          uri: https://github.com/parmeet20/foodlyst_config_server
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8888
