apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: foodlyst-microservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: param9999/config-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
---
# --------------------------
# 4️⃣ Service
# --------------------------
apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: foodlyst-microservice
spec:
  selector:
    app: config-server
  ports:
    - port: 8888
      targetPort: 8888
  type: ClusterIP