apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: foodlyst-microservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: param9999/eureka-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8761
          env:
            - name: CONFIG_SERVER_HOST
              valueFrom:
                secretKeyRef:
                  name: config-service-secret
                  key: CONFIG_SERVER_HOST
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: foodlyst-microservice
spec:
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
  type: ClusterIP
