apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: foodlyst-microservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: param9999/gateway-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8222
          env:
            - name: CONFIG_SERVER_HOST
              valueFrom:
                secretKeyRef:
                  name: config-service-secret
                  key: CONFIG_SERVER_HOST
            - name: EUREKA_URL
              value: "eureka-server"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: foodlyst-microservice
spec:
  selector:
    app: gateway-service
  ports:
    - port: 8222
      targetPort: 8222
  type: LoadBalancer
